html,
body {
  padding: 0;
  margin: 0;
}

.card-form-slides {
  position: relative;
  background-color: aqua;
  height: 100vh;
}

.card-form-slide-content {
  border: 1px solid orange;
}

.card-form-actions {
  position: absolute;
  top: 42px;
  left: 42px;
  z-index: 1;
}

.card-form-slide {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  transition: transform 600ms ease 0s, opacity 300ms ease 0s;
  position: absolute;
}

.card-form-slide.before-current {
  transform: translateY(-100vh);
}
.card-form-slide.after-current {
  transform: translateY(100vh);
}

.card-form-slide.before-current,
.card-form-slide.after-current {
  opacity: 0;
  pointer-events: none;
}

.page1 {
  border: 1px solid red;
}

.page2 {
  border: 1px solid purple;
}
